{% extends 'base.html' %}

{% block content %}

<div style="max-width:600px; margin:auto; padding:25px;
            background:#ffeef7; border-radius:18px;
            border:2px solid #cfbfff; box-shadow:0 0 12px rgba(52, 32, 102, 0.4);">

    <h1 style="text-align:center; color:#524c87b5;">
         Editar Energia 🎐
    </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit"
                style="background:#4e3e7a; color:white;
                       padding:10px 20px; border:none;
                       border-radius:10px; cursor:pointer; width:100%;">
            Guardar cambios
        </button>
    </form>

</div>

{% endblock %}


