{% extends 'base.html' %}
{% block content %}

<div style="max-width:600px; margin:auto; padding:25px;
            background:#fff1f4; border-radius:18px;
            border:2px solid #ffc6d9; box-shadow:0 0 12px rgba(180, 60, 80, 0.3);">

    <h2 style="text-align:center; color:#8a3f57;">
        Eliminar esta Energia?
    </h2>

    <p style="text-align:center; font-size:18px;">
        <strong>{{ energia.tipo }}</strong>
    </p>

    <form method="post" style="margin-top:20px; text-align:center;">
        {% csrf_token %}
        <button type="submit" style="
            background:#c74356; color:white; padding:10px 20px;
            border:none; border-radius:10px; cursor:pointer; margin-right:10px;">
            si, eliminar 🗑️
        </button>

        <a href="{% url 'listado_energia' %}" style="
            background:#4e3e7a; padding:10px 20px; border-radius:10px; color:white; text-decoration:none;">
            Cancelar
        </a>
    </form>

</div>

{% endblock %}


