{% extends 'base.html' %}
{% block content %}
<div style="max-width:900px; margin:auto; padding:25px;
            background:#ffeef7; border-radius:18px;
            box-shadow:0 0 12px rgba(255, 170, 190, 0.4);
            border:2px solid #ffbfd4;">

    <h2 style="text-align:center; color:#c74b7b; font-size:30px;
               text-shadow:0 0 5px white;">
         Listado de Energias 𖦹
    </h2>

    <form method="GET" style="text-align:center; margin-bottom:15px;">
        <input type="text" name="q" placeholder="Buscar energía..."
               style="padding:8px 12px; border-radius:10px; border:1px solid #ffb3c9; width:55%;">
        <button type="submit"
                style="background:#d45fa3; color:white;
                       border-radius:10px; padding:8px 16px; border:none; cursor:pointer;">
            Buscar
        </button>
    </form>

    <table style="width:100%; border-collapse:collapse; margin-top:10px;">
        <thead style="background:#ffd4e7;">
            <tr>
                <th style="padding:10px;">Tipo</th>
                <th>Formula</th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            {% for energia in energias %}
            <tr style="background:white; border-bottom:1px solid #ffd4e7;">
                <td style="padding:10px;">{{ energia.tipo }}</td>
                <td>{{ energia.formula }}</td>
                <td>
                    {% if energia.imagen %}
                        <img src="{{ energia.imagen.url }}" width="150">
                    {% else %}
                     <p>Sin imagen</p>
                    {% endif %}
                    <a href="{% url 'editar_energia' energia.id %}"
                       style="color:#c74b7b;">Editar</a> |
                    <a href="{% url 'eliminar_energia' energia.id %}"
                       style="color:#8b003b;">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" style="text-align:center; padding:15px;">
                    No se ha registrado ninguna energia
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}











