{% extends "base.html" %}

{% block content %}
<div style="
    background: radial-gradient(circle at top, #1a0033, #000010);
    border: 3px solid #6af0ff;
    box-shadow: 0 0 15px #6af0ff, 0 0 40px #00e1ff inset;
    color: white;
    padding: 30px;
    border-radius: 20px;
    max-width: 750px;
    margin: 40px auto;
    text-align: center;
    font-family: 'Trebuchet MS';
">

    <h1 style="
        font-size: 40px;
        margin-bottom: 10px;
        color: #7afcff;
        text-shadow: 0 0 10px #00eaff;
    ">
        🌌 Sala Secreta de ciencia
    </h1>

    <p style="
        font-size: 20px;
        margin-bottom: 20px;
    ">
        Has entrado al <strong> lugar secreto de ciencias</strong>, reservado para logeados. 
        disfruta este lugar premiun 
    </p>

    <div style="
        background: rgba(255, 255, 255, 0.08);
        border-radius: 15px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 0 20px #4effff inset;
    ">
        <h2 style="color:#9dffff; text-shadow:0 0 10px #00eaff;">
            ✨ datos exclusivos:
        </h2>

        <ul style="list-style:none; padding:0; margin-top:20px;">
            <li style="margin:10px 0;">🌀 la galaxia mas cercana a la via lactea(osea, nuestra galaxia) es andromeda...y la mas EXTENSA que existe, contiene 1billon de estrellas</li>
            <li style="margin:10px 0;">💾 estrella de neutrones= se forman tras la explosion de 1 supernova(explosion estelar)</li>
            <li style="margin:10px 0;">🌙 luz solar no es blanca, sino que es de TODOS los colores, al pasar por 1 prisma se ve su espectro conituo</li>
            <li style="margin:10px 0;">🐲 masa de tierra=  \(5.97 \times 10\^{24}\) kg, osea...6 cuatrillones de toneladas</li>
            <li style="margin:10px 0;">🌸 estrella mas cercana(tierra)= Proxima Centauri, ubicada a 4,24 años luz</li>
            <li style="margin:10px 0;">🌀 La luz del Sol tarda 8.3 minutos en llegar a la Tierra, lo que equivale a 0.0000158 años luz.</li>
        </ul>
    </div>
    <p style="margin-top:30px; color:#b4ffff;">
        ⭐
    </p>
</div>
{% endblock %}


